.steps_container {
    height: 60vh;
    padding: 40px 10rem;
}

.card_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(60vh - 15vh);
    position: relative;
}

.card {
    padding: 20px 15px;
    display: flex;
    height: inherit;
    flex-direction: column;
}

.card>.num {
    height: 50%;
    display: grid;
    place-items: center;
}

.num>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #3a3a3a;
    font-size: 18px;
    color: #fff;
    margin: 0px auto 40px;
    position: relative;
}

.num>div::after {
    content: "";
    position: absolute;
    width: 12px;
    z-index: 2;
    height: 12px;
    border-radius: 50%;
    background-color: #3a3a3a;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
}

.line {
    position: absolute;
    left: 204px;
    top: 42.5%;
    background-color: #868686;
    width: 66%;
    height: 0.7px;
    margin: 0px auto;
    z-index: 1;
}

.card_content {
    text-align: center;
    margin: 20px 0px 10px;
}

.card_content>h2 {
    font-size: 28px;
    text-transform: capitalize;
    margin: 20px 0;
}

.btn {
    text-align: center;
    cursor: pointer;
    height: 10vh;
    margin: 20px 0 0;
    font-size: 16px;
}

.btn>h1>i {
    margin-right: 6px;
}