.feature_container {
    padding: 40px 10rem;
    background-color: #fff;
    display: flex;
    height: 50vh;
}

.feature_left {
    flex-basis: 60%;
    border-right: 1px solid #5b5b5b;
    padding: 10px 25px;
    height: 100%;
}

.feature_left h1 {
    font-size: 45px;
}

.feature_left p {
    margin: 20px 0px;
    font-size: 15px;
}

.feature_right {
    padding: 0px 25px;
    flex-basis: 40%;
    height: 100%;
}

.feature_right>.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
}

.feature_right>.card>img {
    width: 120px;
    margin-right: 12px;
}

.feature_right>.card>p {
    text-align: justify;
    font-size: 15px;
}